#logo{
	position:fixed;
	left: 50%;
	margin-left:-40px;
	top: 0px;
	width: 80px;
	z-index: 500;
	text-align: center;
	color: white;
}

.nav-link {
	color: white !important;
}

#nav{
	z-index: 250 !important;
}

@media (max-width: 767px) {
	#navPlaceHolder{
		display:none;
	}
}

.content{
	padding-top: 60px;
	padding-bottom: 50px;
	height: 100vh;
	text-align: center;
}

body {
	background-image: url("https://i.pinimg.com/originals/3d/f9/e9/3df9e933605a76f638e137df1533357c.png");
	background-repeat: repeat;
    background-attachment: fixed;
	background-size: cover;
/*	animation: backgroundScroll 15s linear infinite alternate;
    animation-fill-mode: forwards*/;
	color: white;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

.caption{
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom:50px;
}

#framed {
	position:absolute;
	left: 50%;
	margin-left:-130px;
	top: 73px;
	width: 260px;
	z-index: 125;
	height: 330px;
}

.RegistryLogos {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

.bar{
	background-color: black;
	color: white;
}

#bottom {
	height: 50px;
	width: 100%;
	position:fixed;
	bottom: 0px;
	z-index: 249;
}

